html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    color: white;
}

header .info {
height: 30px;
line-height: 30px;
text-align: right;
padding-right: 20px;
font-size: 14px;
}

header h1 {
    background-color: #e0ffe0;
    color: #333;
    margin: 0;
    padding: 20px 0 20px 15px;
}

nav {
    background-color: aliceblue;
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    display: inline-block;
    width: 200;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    transition: all 300ms;
}
nav ul li a:hover {
    color: darkslategrey;
}

nav .searchbox {
    display: inline-block;
    padding-top: 15px;
}

nav .searchbox button {
    border: #333;
    background: #333;
    cursor: pointer;
    opacity: 1;
    transition: all 300ms;
}
nav .searchbox button:hover {
    opacity: 1;
}

footer {
    padding: 25px;
    color: aliceblue;
    background-color: darkslategray;
}

main {
    background-color: #e0ffe0;
    color: darkslategray;
    padding: 30px 0;
}

.card {
    display: inline-block;
    width: 350px;
    height: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 300ms;
    border: 1px solid;
}

.card a {
    text-decoration: dotted;
    color: darkslategray;
    transition: all 300ms;
}

.card .image {
    height: 400px;
}

.card .image img {
    max-width: 350px;
    max-height: 200px;
}

.card:hover{
box-shadow: 0 0 7px #ada;
}

.card a:hover {
    color: black;
}


